button{
    color: orange;
    background-color: orange;
    width:150px;
    height: 150px;
    align-content: center;
}

.list{
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}