@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
    background-color:#262428;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
     'Lucida Sans', Arial, sans-serif;
    color: white;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3 ease 0s;
}


.nav_links li a:hover{
    color:#0088a9;
}

button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius:50px ;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    box-shadow: 0 0 5px #719ECE;
}

