<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/add_user.css/">
</head>
<body>

</body>
<header>
    <div class="add_user">
        <h1 class="title">Add an administrator</h1> 
        <div class="add-user-inputs">
            <input type="text" placeholder="Username"/>
            <br></br>
            <br></br>
            <input type="password" placeholder="Password"/>
            <br></br>
            <br></br>
            <button class="btn">Go!</button>
        </div>
    </div>
</header>