<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/fishino_list.css">
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <h1>ACTIVE DEVICES</h1>
        <div class="list">
        <form action="http://localhost:5000/fishino/">
        {% for item in fishino %}
            <button type="submit" name="{{item.name}}">{{item.name}}</button>
        {% endfor %}
        </form>
    </div>
        {% endblock %}
    </body>
</html>